@charset "utf-8";
/* CSS Document */






/* PC (1025～)
-----------------------------------------------------------------
----------------------------------------------------------------- */

@media print {
.spFigure{display:none;}
.mainVisualSpCover{display:none;}



body{
	background:url(/web/20190418013236im_/http://www.e-pasteria.com/plan/images/page_bg.jpg) center top no-repeat;
}


section.read{
	width:1160px;
	height:auto;
	margin:0px auto;
	padding:0px 0px 40px 0px;	
}
	section.read h1{
		display:block;
		width:100%;
		height:auto;
		padding:0px 0px 12px 0px;
		margin:0px 0px 15px 0px;
		text-align:center;
		background:url(/web/20190418013236im_/http://www.e-pasteria.com/common/images/title_bg.png) center bottom no-repeat;	
		
		font-size:125%;
		font-weight:bold;
		color:#422c10;
		text-shadow:1px 1px 1px #fff;
	}
	section.read p{
		color:#422c10;
		font-weight:bold;
		text-align:center;	
		text-shadow:1px 1px 1px #fff;
		line-height:1.88em;
	}
	
	section.read ul{
		display:block;
		width:950px;
		height:auto;
		margin:0px auto;
		padding:20px 0px 0px 0px;
		overflow:hidden;
	}
		section.read ul li{
			display:block;
			width:180px;
			height:auto;
			margin:0px 12px 0px 0px;
			float:left;
		}
			section.read ul li a{
				display:block;
				padding:12px 0px;
				color:#fff;
				text-align:center;
				background:#533a1a;
			}
				section.read ul li a:hover{
					text-decoration:none;
					background:#6d4e27;	
				}
				section.read ul li a img{
					width:10px;
					height:auto;
					margin-right:3px;
				}



/* section.plan
------------------------------------------------*/
section.plan{
	width:1160px;
	height:auto;
	margin:0px auto;
	padding:0px 0px 65px 0px;	
}


	section.plan .planInformation{
		width:1160px;
		height:auto;
		margin:0px 0px 0px 0px;
		padding:15px 35px 15px 35px;
		background:#fff;
		overflow:hidden;
		
		box-shadow:1px 1px 3px #b49878;
		
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;	
	}
		.planInformation h2{
			font-size:125%;
			color:#204c38;
			border-left:5px solid #204c38;
			font-weight:bold;
			padding:0px 0px 0px 8px;
			margin:0px 0px 8px 0px;	
		}
		
		.planInformation .planFloat{
			width:100%;
			height:auto;
			overflow:hidden;	
		}
			
			.planFloat figure{
				width:397px;
				height:auto;
				float:left;
			}
				.planFloat figure figcaption{
					font-size:87%;
					margin:-4px 0px 0px 0px;
				}
				.planFloat figure img{
					width:100%;
					height:auto;
				}
				
			
			.planFloat .planDetail{
				width:670px;
				height:auto;
				float:right;	
			}
				.planDetail p{
					color:#533a1a;
					padding:3px 0px 8px 0px;
				}
				.planDetail .tableBox{
					width:100%;
					height:auto;
					margin:0px 0px 0px 0px;
					padding:0px 0px 0px 0px;
				}
					.planDetail .tableBox td{
						font-size:87%;
					}


















}







/*
     FILE ARCHIVED ON 01:32:36 Apr 18, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:30:11 Jun 04, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.84
  exclusion.robots: 0.032
  exclusion.robots.policy: 0.012
  esindex: 0.013
  cdx.remote: 49.078
  LoadShardBlock: 125.885 (3)
  PetaboxLoader3.datanode: 69.013 (4)
  PetaboxLoader3.resolve: 184.602 (2)
  load_resource: 176.633
*/